body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    
}
.main-body{
    margin-top:10px;
}
.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chat-box {
    
    width: 500px;
    height: 74vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    overflow: hidden;
}




.msg-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}

.para {
    background-color: lightgreen;
    color: black;
    font-weight: 400;
    padding: 13px 15px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    align-self: flex-end;
   
}

.para1 {
    background-color: lightgreen;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    align-self: flex-start;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.inputs input {
    flex-grow: 1;
    height: 38px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid rgb(0, 255, 98);
    outline: none;
}

.inputs input:focus {
    border-color: rgb(0,255,99);
}
.button-send{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #0dff00;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s, transform 0.2s;
}

.toggle{
    position: absolute;
    
    color: white;
    font-size: 12px;
    padding: 8px;
    bottom: -40px;
    right: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    border-radius: 30px;
    white-space: nowrap;
}
.button-send:hover .toggle {
    opacity: 1;
    background-color: rgb(23, 161, 23);
    transform: scale(1.05);
}

.button-delete{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #a60f0f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s, transform 0.2s;
}
.toggle-del{
    position: absolute;
    
    color: white;
    font-size: 12px;
    padding: 8px;
    bottom: -40px;
    right: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    border-radius: 30px;
    white-space: nowrap;
}
.button-delete:hover .toggle-del{
    opacity: 1;
    background-color: red;
    transform: scale(1.05);
}
.head-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.headings{
background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: space-between;
    width: 580px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.headings h3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 30px;
    color: rgb(244, 232, 232); 
    background-color: #333; 
    padding: 10px; 
    border-radius: 5px;
}
.headings img{
    width: 100px;
}
.headings img:hover{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 50%;
}

